
/* Reseteo de margenes y pedding  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo General*/

body{
    font-family:'Arial', sans-serif ;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilos del header*/

.header {

    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.header-contenido{
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.contenido-main {
    font-size: 2.5rem;
}

.navegacion {
    display: flex;
}

.nav-link{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/*Diseños main */

.contenido-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
   
}

.secciontitu{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.descripcion{
    font-size: 1rem;
    margin-bottom: 20px;
}

.ingredientes, .preparacion{
    font-size: 1,2rem;
    margin-bottom: 10px;
}

.ingredientes-list, .preparacion{

    list-style-type: none;
    padding-left: 20px;
}

h4{
    margin: 20px;
}

.tablajue{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden; /* Para bordes redondeados en la tabla */
}

.tablajue th, .tablajue td{
    background-color: #f4f4f4;
    font-weight: bold;
}








/*Footer*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link{
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
}